extends layout

block content
  h1= title
  p Welcome to the Matric Results #{title}

block content2
  h4= "Overview of 2016"
  p #{info6}
block content3
  h4= "Overview of 2015"
  p #{info5}
block content4
  h4= "Overview of 2014"
  p #{info4}
